<div style="text-align:center">
  <h1>
    {{ today | date:'y MMMM' }} [Summary Page]
  </h1>
</div>
<h2>PLACE HOLDER FOR BALANCE GRAPH (NOT NOW) </h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accountData of getSampleAccountDate(); let i = index">
            <td>{{ i }}</td>
            <td>{{ accountData.date | date:'MMM dd y' }}</td>
            <td>{{ accountData.name }}</td>
            <td>{{ accountData.amount }}</td>
            <td>{{ accountData.category }}</td>
          </tr>
          <tr>
              <td>
                <span>whatever</span>
              </td>
              <td>
                <input #newDate required type="text">
              </td>
              <td>
                <input #newName required type="text">
              </td>
              <td>
                <input #newAmount required type="text">
              </td>
              <td>
                <input #newCategory required type="text">
              </td>
          </tr>
          <tr>
            <td colspan="4">
              <a href="#" 
                (click)="clickAddNewRecord($event, newDate.value, newName.value, newAmount.value, newCategory.value)">
                Add item
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="summary">
        <h4>Balance</h4>
        <span>${{ -1100 }}</span>
        <h4>Total Expenditure</h4>
        <span>${{ 750 }}</span>
      </div>
    </div>
  </div>
</div>
